body {
	font-family: 'Source Sans Pro', sans-serif;
}

canvas {
	border : 1px solid #000;
	margin : 5px 5px 5px 10px;
}

div.card-header {
	cursor : pointer;
}

.no-select {
	-webkit-touch-callout : none; /* iOS Safari */
	-webkit-user-select   : none; /* Safari */
	-khtml-user-select    : none; /* Konqueror HTML */
	-moz-user-select      : none; /* Firefox */
	-ms-user-select       : none; /* Internet Explorer/Edge */
	user-select           : none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.input-group-sm > .form-control {
	font-size : .845rem;
}